Flask==3.0.0
flask-cors==4.0.0
pandas==2.2.3
numpy==2.3.0
tldextract==5.1.0
python-dotenv==1.0.0

# LLMs
openai==1.90.0
google.genai==1.30.0

# ML libraries
scikit-learn==1.7.0
xgboost==2.0.0
torch==2.8.0
transformers==4.52.4
datasets==3.3.1

# Data Viz
matplotlib==3.10.3
seaborn==0.12.0

# Jupyter
jupyter==1.0.0
ipykernel==6.25.0

